@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es un sistema de gestion de libros, donde lo construi paso a paso siguiendo un video tutorial en YouTube.</p>
    <p>En este sistema de gestion podras crear, modificar y eliminar libros segun te parezca</p>
    <a href="https://youtu.be/3mu2K5vXcxc">Link al video.</a>
</div>
